
@{
    ViewBag.Title = "Index";
}

<h2> Position Index</h2>

<div id="grid"></div>


@section scripts {




<script id="popup-editor" type="text/x-kendo-template">    
    <div class="k-edit-label">
        <label for="EmployeeId">Select Employee: </label>
    </div>
    <div class="k-edit-field" data-container-for="EmployeeId"> 
        <input id="EmployeeId" name="EmployeeId" data-bind="value: EmployeeId" required />
    </div>
    <div class="k-edit-label">
        <label for="PositionId">Select Position: </label>
    </div>
    <div class="k-edit-field" data-container-for="PositionId">
        <input id="PositionId" name="PositionId" data-bind="value: PositionId" required />
    </div>
    <div class="k-edit-label">
        <label for="Active">Active: </label>
    </div> 
    <div class="k-edit-field">
        <input id= "Active" type="checkbox" data-bind="checked: Active"/>
    </div>

</script>
    <script src="~/Scripts/Positions/index.js"></script>
}