@model UI.Areas.Management.Models.ManagementCustomerViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Register</h2>

<h3>Customer</h3>

<div class="form-horizontal" id="customer-form">
    <div class="form-group">
        <label class="col-md-2 control-label">CompanyId</label>
        <div class="col-md-10">
            <input name="CompanyId" data-bind="value: companyId" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Name</label>
        <div class="col-md-10">
            <input name="Name" data-bind="value: name" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Abn</label>
        <div class="col-md-10">
            <input name="Abn" data-bind="value: abn" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Franchise</label>
        <div class="col-md-10">
            <input name="Franchise" data-bind="value: franchise" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Phone</label>
        <div class="col-md-10">
            <input name="Phone" data-bind="value: phone" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
            <input name="Email" data-bind="value: email" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-primary" data-bind="enabled: submitEnabled, click: submit" type="button">Submit</button>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Customer/create.js"></script>
}